<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>500 internal server error</mat-card-title>
    <mat-card-subtitle>Sorry, It's not you. It is us!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/500_error_page.png" alt="Something went wrong!!">
  <mat-card-content>
    <p>
      Well, this is unexpected but as valuable customer, we will try to resolve this as soon as possible.
      If this happened firstime try to go back and try again. You can also go to home page. Thank you for your
      patience.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">Back</button>
    <button mat-raised-button color="warn">Home</button>
  </mat-card-actions>
</mat-card>