.cdk-overlay-connected-position-bounding-box {
  top: 60px;
  align-items: flex-end;
}

.cdk-overlay-pane {
  max-width: 148px;
  min-width: 148px;
}

.mat-menu-panel {
  min-width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}
