<div class="login" fxLayout="row" fxFlexAlign="center center">
  <mat-card class="login-card p-0 pb-16">
    <mat-card-header class="primary-bg m-0 p-8" fxLayout="row" fxFlexAlign="start center">
      <div mat-card-avatar class="header-image ml-16">
        <img src="my-peers/assets/img/user_icon.png" />
      </div>
      <mat-card-title class="white-fg mt-8">Login</mat-card-title>
    </mat-card-header>
    <form>
      <mat-card-content class="m-32" fxLayout="column">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            #emailInput
            placeholder="Email"
            name="email"
            type="email"
            [formControl]="emailControl"
            required
          />
          <mat-error *ngIf="emailControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('email')">
            Please, enter a valid <strong>email</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            name="password"
            type="password"
            [formControl]="passwordControl"
            required
          />
          <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('minlength')">
            Password needs to be more than <strong>2 characters</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="m-16 ml-32 mr-32" fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button type="submit" (click)="login()" color="primary" class="white-fg">
          Login
        </button>
        <button mat-button type="button" (click)="signUp()" color="warn"><i>Sign Up</i></button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<!--
  <div class="login">

   <div *ngIf="isLoad">


      <app-main *ngIf="isLoggedIn"></app-main>


      <router-outlet *ngIf="!isLoggedIn"></router-outlet>


      <router-outlet *ngIf="isError"></router-outlet>


    </div>
  </div>
-->
