.login {
  height: 100%;
  background: url('../../assets/img/login_background.jpg');
  background-size: cover;
  background-repeat: repeat;
  * {
    border-radius: 0;
  }
  >.login-card {
    max-width: 400px;
    min-width: 400px;
    margin: auto;
  }
}

button {
  min-width: 100px;
}
